.banner {
    background-color: var(--bg-black);
    margin: 24px;
    border-radius: 24px;
    min-height: 514px;
    padding-top: 90px;
    background-image: url(../img/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 96px;
    padding: 24px;
    padding-top: 48px;
    @media (min-width: 996px) {
        padding-top: 200px;
        min-height: 834px;
        padding-top: 110px!important;
        padding: 48px;
    }

    @media (min-width: 1200px) {
        margin-top: 24px;
        padding-top: 210px!important;
    }

    p {
        font-size: 18px;
        color: var(--white);
        opacity: 0.6;
        font-weight: normal;
    }
}