.phone-3{
    width: 50%;
    position: relative;
    z-index: 2;
    @media (min-width: 992px) {
        width: 400px;
    }
}

.phone-4{
    position: absolute;
    bottom: 0px;
    width: 50%;
    right: 30%;
    @media (min-width: 992px) {
        width: 390px;
        right: 260px;
    }
}
.position-relative{
    position: relative;
}
.store-icon{
    height: 46px;
}