@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-white);
}

h1, h2, h3, h4, h5, p, a, div {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--primary);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-primary {
  border: none;
  min-width: 160px;
  padding: 0px 24px;
  background: linear-gradient(97deg, #FF6F61 13.62%, #06437D 82.45%);
  color: var(--white) !important;
  border-radius: 8px;
  height: 48px;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.btn-primary:hover {
  opacity: 6;
  background-color: #000;
}
.btn-primary a {
  color: var(--white);
}
.btn-primary a:hover {
  color: var(--white);
}

.btn-close {
  width: 32px;
  height: 32px;
  background-color: var(--black);
  color: var(--white);
  font-size: 24px;
  opacity: 1;
  background-image: none;
}

.btn-secondary {
  border: none;
  min-width: 160px;
  padding: 0px 24px;
  background: none;
  color: var(--white);
  border-radius: 8px;
  height: 48px;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 1px solid var(--vivid_coral);
}
.btn-secondary:hover {
  background-color: #000;
}

.icon-watsap {
  background-color: #247A37;
  height: 44px;
  width: 44px;
  border-radius: 8px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-watsap:hover {
  background-color: #2e8741;
  color: var(--white);
}

.rotate-45 {
  transform: rotate(45deg);
}

.hover-effects {
  transition: all 0.3s ease-out;
}
.hover-effects svg {
  transition: all 0.3s ease-out;
  width: 90px;
  height: 90px;
}
.hover-effects:hover svg {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.phone-3 {
  width: 50%;
  position: relative;
  z-index: 2;
}
@media (min-width: 992px) {
  .phone-3 {
    width: 400px;
  }
}

.phone-4 {
  position: absolute;
  bottom: 0px;
  width: 50%;
  right: 30%;
}
@media (min-width: 992px) {
  .phone-4 {
    width: 390px;
    right: 260px;
  }
}

.position-relative {
  position: relative;
}

.store-icon {
  height: 46px;
}

.header-container {
  margin: 24px;
  height: 100px;
  position: absolute;
  z-index: 7;
  top: 0px;
  width: calc(100% - 48px);
}

header {
  height: 100px;
  width: 100%;
  background: var(--bg-black);
  border-radius: 24px 24px 0px 0px;
  padding: 24px 0px;
}
header .logo {
  height: 50px;
}

.menus {
  display: flex;
  gap: 40px;
}
.menus li a {
  font-size: 16px;
  color: #999;
  transition: all 0.3s ease-out;
}
.menus li a:hover {
  color: var(--white);
}

.mobile-header {
  width: 100%;
  background-color: var(--bg-black);
  z-index: 9;
  top: 0px;
  position: fixed;
}
.mobile-header .main-div {
  height: auto;
}
.mobile-header .main-div img {
  height: 40px;
}
.mobile-header .mb-menu {
  width: 38px;
  height: 38px;
  background-color: var(--royal_blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 8px;
  font-size: 24px;
}

.offcanvas {
  width: 80% !important;
  background-color: #111;
}

.offcanvas-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.offcanvas-body .menus {
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #212121;
}
footer h5 {
  color: var(--white);
  padding-bottom: 16px;
}
footer ul li a {
  display: block;
  color: var(--white);
  opacity: 0.6;
  padding: 8px 0px;
}

.sub-footer {
  border-top: 2px solid rgba(194, 194, 194, 0.1);
  width: 100%;
}
.sub-footer a {
  font: 16px;
}
.sub-footer a i {
  font-size: 24px;
}

.mt-6 {
  margin-top: 48px;
}
@media (min-width: 1200px) {
  .mt-6 {
    margin-top: 96px;
  }
}

.padding-top {
  padding-top: 50px;
}
@media (min-width: 1200px) {
  .padding-top {
    padding-top: 100px;
  }
}

.padding-bottom {
  padding-bottom: 50px;
}
@media (min-width: 1200px) {
  .padding-bottom {
    padding-bottom: 100px;
  }
}

@font-face {
  font-family: "Universal Doomsday";
  src: url("../fonts/UniversalDoomsdayMedium.eot");
  src: url("../fonts/UniversalDoomsdayMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/UniversalDoomsdayMedium.woff2") format("woff2"), url("../fonts/UniversalDoomsdayMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em !important;
  font-family: "Universal Doomsday";
}

.h1 {
  font-size: 34px;
  font-weight: 600;
  color: var(--white);
}

@media (min-width: 992px) {
  .h1 {
    font-size: 46px;
    font-weight: 600;
  }
}
.h5 {
  font-size: 16px;
  font-weight: 400;
}
.h5 br {
  display: none;
}

@media (min-width: 992px) {
  .h5 {
    font-size: 18px;
    font-weight: 400;
  }
  .h5 br {
    display: inline-block;
  }
}
.font-weight-600 {
  font-weight: 600;
}

.font-weight-400 {
  font-weight: 400;
}

.fs-14 {
  font-size: 14px;
}

.section-heading {
  font-size: 32px;
  color: var(--black);
  line-height: 110% !important;
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 48px;
  }
}

.main-heading {
  font-size: 32px;
  color: var(--white);
  line-height: 110% !important;
}
@media (min-width: 992px) {
  .main-heading {
    font-size: 48px;
  }
}

.paragraph {
  font-size: 16px;
  color: #656C7B;
}

.subheading {
  font-size: 18px;
  color: #666;
}

.main-text {
  font-size: 30px;
  line-height: 110% !important;
  text-align: center;
}
@media (min-width: 992px) {
  .main-text {
    font-size: 48px;
    text-align: left;
  }
}

:root {
  --white: #fff;
  --royal_blue: #06437D;
  --vivid_coral: #FF6F61;
  --black: #000;
  --text: #000;
  --title:#0f172a;
  --paragraph:#666;
  --offcanvas:#1F2329;
  --bg-black:#141414;
}

.text-white {
  color: var(--white) !important;
}

.text-title {
  color: var(--title);
}

.text-paragraph {
  color: var(--paragraph);
}

.bg-royal-blue {
  background-color: var(--royal_blue) !important;
}

.bg-vivid-coral {
  background-color: var(--vivid_coral) !important;
}

.bg-gradient2 {
  background: rgb(220, 238, 242);
  background: linear-gradient(0deg, rgba(220, 238, 242, 0) 0%, rgb(220, 238, 242) 100%);
}

.text-gradient {
  background: linear-gradient(177deg, #55CE70 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-green {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  color: #12B019;
}
.bg-green:hover {
  border: 1px solid #000;
}

.bg-white {
  background-color: var(--black) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.shade-1 {
  background-color: var(--shade-1);
}

.shade-2 {
  background-color: var(--shade-2);
}

.shade-3 {
  background-color: var(--shade-3);
}

.shade-4 {
  background-color: var(--shade-4);
}

.shade-5 {
  background-color: var(--shade-5);
}

.shade-6 {
  background-color: var(--shade-6);
}

.shade-7 {
  background-color: var(--shade-7);
}

.shade-8 {
  background-color: var(--shade-8);
}

.shade-9 {
  background-color: var(--shade-9);
}

.shade-10 {
  background-color: var(--shade-10);
}

.banner {
  background-color: var(--bg-black);
  margin: 24px;
  border-radius: 24px;
  min-height: 514px;
  padding-top: 90px;
  background-image: url(../img/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 96px;
  padding: 24px;
  padding-top: 48px;
}
@media (min-width: 996px) {
  .banner {
    padding-top: 200px;
    min-height: 834px;
    padding-top: 110px !important;
    padding: 48px;
  }
}
@media (min-width: 1200px) {
  .banner {
    margin-top: 24px;
    padding-top: 210px !important;
  }
}
.banner p {
  font-size: 18px;
  color: var(--white);
  opacity: 0.6;
  font-weight: normal;
}

.phones {
  position: relative;
  margin-top: -100px;
}
@media (min-width: 996px) {
  .phones {
    margin-top: -300px;
  }
}

.box-border {
  width: 100%;
  height: 298px;
  border: 1px solid #E1E1E1;
  border-radius: 16px;
}
.box-border h3 {
  font-size: 24px;
}

.icon {
  width: 100px;
  height: 100px;
  background: #FFF1EF;
  border-radius: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  color: var(--vivid_coral);
  font-size: 48px;
}

.gradient {
  width: 100%;
  background: linear-gradient(180deg, #F0F5FF 0%, rgba(240, 245, 255, 0) 100%);
}

.box-image {
  width: 100%;
  height: 383px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.box-image img {
  width: 100%;
  height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-image .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0p;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.box-image .overlay h4 {
  font-size: 24px;
}

.testimonial {
  background-color: #FFF8F6;
  border-bottom: 1px solid #EBEBEB;
}
.testimonial .testi-box {
  background-color: var(--white);
  width: 100%;
  height: 279px;
  border-radius: 10px;
  background-image: url(../img/qt.webp);
  background-repeat: no-repeat;
  background-position: 95% 30px;
  background-size: 44px;
}
.testimonial .testi-box .user-head {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 160px;
}
.testimonial .testi-box .user-head img {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial .testi-box h3 {
  font-size: 18px;
}
.testimonial .carousel-indicators {
  margin-bottom: -50px;
}
.testimonial .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 160px;
  background-color: #000;
  border: none;
}

.box-hero {
  width: 100%;
  height: auto;
  border-radius: 24px;
  background-color: #DAE3EC;
}

textarea:focus, input:focus {
  outline: none;
}

.form-structure input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #474644;
  background: none;
  padding: 20px 0px;
  color: var(--white);
}
.form-structure textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #474644;
  background: none;
  padding: 20px 0px;
  color: var(--white);
  min-height: 250px;
}

.input-news {
  background: none;
  border: none;
  border-bottom: 1px solid #757B8A !important;
  width: 300px;
  padding: 24px 0px;
}/*# sourceMappingURL=style.css.map */